<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          <b>3 Friends</b> need a wake up
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Received Voices Notes</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> new voice notes
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
