<ion-view style="" title="Voice Note">
    <ion-content class="has-header has-footer" padding="true">
        <div style="line-height: 200px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 50%; text-align: center; width: 80%; height: auto; margin: 0 auto">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <label style="text-align: center;">
            <span style="text-align: center;"><b>Andres</b> is trying to wake you up!</span>
        </label>
        <div style="width: 300px; height: 64px;" class="spacer"></div>
        <button style="" class="button button-assertive button-outline button-block button-large">Stop</button>
    </ion-content>
</ion-view>
